<div class="comment">
    <% if logged_in? && current_user.comments.include?(comment) %>
        <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'You sure?' }, class: 'delete'  %>
    <% end %>
    <p><%= comment.content %></p>
</div>