html, body {
    margin:0;
    padding:0;
}

/*variables */
$blue:#3366ff;
$darkblue:#0039e6;
$lightblue: #3399ff;
$darkgrey: #333333;
$darkred: #a82424;
$lightpurple: #6600ff;

$font1: 'Muli', sans-serif;
$font2: 'Paytone One', sans-serif;

/*menu */
.menu {
    position:fixed;
    .top {
        background-color:$blue;
        overflow:auto;
        .logo {
            display:inline;
            float:left;
            color:white;
            margin:10px;
            font-family: $font2;
            h2 {
                margin:0;
            }
        }
        .click {
            display:inline;
            float:right;
            margin:10px;
            .open {
                ul {
                    list-style-type:none;
                    margin:0;
                }
                li {
                    width:20px;
                    height:3px;
                    background-color:white;
                    border-radius:10px;
                    margin:5px;
                }
                &:hover {
                    opacity:.7;
                }
            }
            .exit {
                color:white;
                font-weight:bold;
                margin:10px;
                display:none;
                font-family:sans-serif;
                text-align:center;
                font-size:20px;
                &:hover {
                    opacity:.7;
                }
            }
        }
    }
    
    .dropdown {
        background-color:$blue;
        font-family:$font1;
        ul {
            list-style-type:none;
            margin:0;
            padding:0;
        }
        a {
            text-decoration:none;
            margin-left:20px;
            font-weight:bold;
        }
        li {
            width:100%;
            padding:10px 0px 10px 0px;
            border-top:1px black solid;
            &:hover {
                background-color:$darkblue;
                a {
                    color:white;
                }
            }
        }
        .inactive {
            a {
               color:black; 
            }
        }
        .active {
            a {
                color:white;
            }
        }
    }
}

.bottom {
    font-family:$font1;
    background-color:white;
    overflow: auto;
    .contain {
        float:right;
        margin:20px;
    }
    a {
        text-decoration:none;
        &:hover {
            opacity:.7;
        }
    }
    .log {
        color:#a82424;
        border: 3px #a82424 solid;
        border-radius:20px;
        padding:5px;
        font-weight:bold;
    }
    .sign {
        color:$darkgrey;
        border: 3px $darkgrey solid;
        border-radius:20px;
        padding:5px;
        font-weight:bold;
    }
    .postSmall {
        color:white;
        background-color:#6600ff;
        border: 3px #6600ff solid;
        border-radius:20px;
        padding:5px;
        font-weight:bold; 
    }
    .post {
        color:white;
        background-color:#6600ff;
        border: 3px #6600ff solid;
        border-radius:20px;
        padding:5px;
        font-weight:bold;
    }
}

/* post feeds (index, news, discussion, rumors) */
.posts {
    width:100%;
    font-family:$font1;
    h1 {
        text-align:center;
        margin-top:0;
    }
    ul {
        list-style-type:none;
    }
}


/*post partial */
._post {
    h2 {
        a {
            text-decoration:none;
            color:#a82424;
            &:hover {
                color:#7e1b1b;
            }
        }
    }
    .comlink {
        display:inline;
        text-decoration:none;
        font-weight:bold;
        color:#00cc99;
        &:hover {
            color:#008060;
        }
    }
    p {
        display:inline;
        margin:0px 20px 0px 20px;
    }
    .content {
        display:inline-block;
        width: calc(100% - 80px);
    }
}

/* form */ 
.form {
    font-family:$font1;
    width:100%;
    margin:0 auto;
    h1 {
        margin-top:0;
        text-align:center;
    }
    form {
        margin:0 auto;
    }
    h3 {
        margin:5px;
    }
    ul {
        list-style-type:none;
    }
    li {
        margin-top:20px;
    }
    input, textarea, select {
        font-size:20px;
        outline:none;
        border:2px $blue solid;
        &:hover, &:focus {
            border:2px $darkblue solid;
        }
    }
    input, textarea {
        width:95%;
    }
    textarea {
        height:100px;
    }
    input[type="submit"] {
        background-color:$darkred;
        color:white;
    }
    
    .errors {
        h3 {
            text-align:center;
        }
        color:white;
        border-radius:20px;
        background-color:$lightpurple;
        li {
            margin:1px;
        }
    }
    
}

.ratefield {
    display:none;
}

.container {
    margin:0 auto;
    max-width:800px;
}


/* show post */
.post {
    font-family:$font1;
    a {
        text-decoration:none;
        color:$darkred;
        &:hover {
            color:#7e1b1b;
        }
    }
    h1 {
        margin-top:0;
        text-align:center;
    }
    .title {
        display:inline-block;
        width: calc(100% - 80px);
    }
    
    .content {
        font-size:20px;
        padding:10px;
        border:2px $blue solid;
        border-radius:10px;
        .edit {
            float:right;
            color:#00cc99;
            font-weight:bold;
        }
    }
    .comments {
        ul {
            list-style-type:none;
            padding:0;
        }
    }
}

/* upvote button */
.rate {
    display:inline-block;
    width:70px;
    text-align:center;
    .ratefield {
        display:none;
    }
    input[type='submit'] {
       width: 0; 
	   height: 0; 
	   border-top: 0;
	   border-left: 20px solid white;
	   border-right: 20px solid white;
	   border-bottom: 20px solid #bfbfbf;
	   padding:0;
	   &:hover {
	       border-bottom: 20px solid #595959;
	   }
    }
}

/* comment partial */
.comment {
    padding:5px;
    border:2px $blue solid;
    border-radius:5px;
}

/* reserved class to hide elements */
.hidden {
    display:none;
}

/* size changes */
@media(max-width: 765px) {
    .menu {
        width:100%;
    }
    .dropdown {
        display:none;
    }
    .bottom {
        padding-top:55px;
        .post {
            display:none;
        }
    }
}

@media(min-width: 765px) {
    .menu {
        width:250px;
        height:100%;
        background-color:$blue;
        .top {
            width:250px;
            .open {
                display:none;
            }
            .exit {
                display:none;
            }
        }
        .dropdown {
            width:250px;
            li {
                width:250px;
            }
        }
    }
    
    .bottom {    
        .postSmall {
            display:none;
        }
    }
    
    /* the rest of the page besides the header */
    .full {
        margin-left:250px;
    }
    
}